@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,900;1,600&display=swap');

:root {
  --color1:#F9E0D9;
  --color2:#E6DBD0;
  --color3:#7D6167;
  --color4:#754F5B;
  --color5:#5D4954;
}

body,body * {
	margin:          unset;
	padding:         unset;
	font-size:       unset;
	color:           unset
}

*, *::before, *::after { box-sizing: border-box }

body {
  background: url(https://picstatio.com/large/snkbnd/cook-vegetables-food.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  transition: .4s;
}

a:hover{
  transform: scale(1.1);
}

.mainFlex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  padding: 150px 8%;
}

.recipe{
  font-family: 'Roboto Serif', sans-serif;
  background: var(--color5);
  color: #fff;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 550px;
  padding: 40px;
  box-shadow: 2px 2px 8px #000;
  margin: 0 40px 20px;
}

.recipe h2{
  font-size: 2em;
  margin: 0 0 .8em;
}

.recipe .div{
  color: #754F5B;
  background: var(--color1);
  width: 240px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  font-weight: 600;
  font-style: italic;
}


.recipe img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 1em 0 0;
  box-shadow: 1px 1px 4px #000;
}


.recipeBig {
  background: var(--color2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-shadow: 4px 4px 24px #000;
}

.recipeBig img{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 4px 4px 24px #000;
  margin: 0 40px 0 0;
}

.recipeBig .div {
  padding: 20px;
  height: 100%;
  border-left: 5px solid rgba(255,255,255,1);
}
.recipeBig h1{
  font-size: 2em;
  margin: 0 0 .8em;
}

.recipeBig .description{
  font-size: 1.2em;
  margin: 0 0 .8em;
  padding: 0 0 1.4em;
  font-weight: 600;
  font-style: italic;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.recipeBig ul{
  list-style-position: inside;
  margin: 0 0 1em 0;
}

.return{
  font-weight: 600;
  position: absolute;
  font-size: 4em;
  padding: .2em 1em;
  background-color: rgba(0,0,0,.4);
}